absl-py
albumentations==1.0.0
cachetools
certifi
chardet
cycler
decorator
future
google-auth
google-auth-oauthlib
grpcio
idna
imageio
imgaug
joblib
kiwisolver
Markdown
matplotlib
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python-headless
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
tensorboard
torch
torchvision
tqdm
urllib3
Werkzeug
